@model IEnumerable<ProjetTexcel_WEB.tblGenre>

@{
    ViewBag.Title = "Genres";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
           Description
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idGenre }) |
            @Html.ActionLink("Details", "Details", new { id=item.idGenre }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idGenre })
        </td>
    </tr>
}

</table>
