@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Texcel</h1>
    <p class="lead">Bienvenu sur la console d'administration de gestion de test de jeux vidéo de texcel</p>
    
</div>

<div class="row marginLeft">
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Employés</h2>
        <p>
            afficher la liste des employés.

        </p>
        <p>@Html.ActionLink("Classifications","Index","tblClassifications", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Jeux</h2>
        <p>Afficher la liste des Jeux vidéo disponible.</p>
        <p>@Html.ActionLink("Jeux", "Index", "tblJeus", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Classifications</h2>
        <p>Afficher la liste des classification.</p>
        <p>@Html.ActionLink("Classifications", "Index", "tblClassifications", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Genres</h2>
        <p>Afficher la liste des genres.</p>
        <p>@Html.ActionLink("Genres", "Index", "tblGenres", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Thèmes</h2>
        <p>Afficher la liste des système des Thèmes disponible.</p>
        <p>@Html.ActionLink("Thèmes", "Index", "tblThemes", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Système d'exploitation</h2>
        <p>Afficher la liste des système d'exploitation disponible.</p>
        <p>@Html.ActionLink("Systèmes d'exploitations", "Index", "tblSystemExploitations", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    <div class="col-md-4 light-primary-color indexBox">
        <h2>Platformes</h2>
        <p>Afficher la liste des Platformes disponible.</p>
        <p>@Html.ActionLink("Platformes", "Index", "tblPlatforms", null, new { @class = "btn btn-default btnIndex" })</p>
    </div>
    
</div>