@model IEnumerable<ProjetTexcel_WEB.tblTheme>

@{
    ViewBag.Title = "Thèmes";
}
<h2>@ViewBag.Title</h2>


<p>
    @Html.ActionLink("Ajouter", "Create")
</p>

<div class="formContainer">


    @using (Html.BeginForm("Index", "tblThemes", FormMethod.Post))
    {
        @Html.TextBox("search")
        <input type="submit" value="Search" />
    }
    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Description
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>

                <td>
                    @Html.ActionLink("Éditer", "Edit", new { id = item.idTheme }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.idTheme }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.idTheme })
                </td>
            </tr>
        }

    </table>
</div>