<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navColor">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Texel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navTextColor" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home",null, new { @class = "navTextColor" })</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home", null, new { @class = "navTextColor" })</li>
                   
                    <li class="dropdown">
                        <a class="dropdown-toggle anav" data-toggle="dropdown" href="#">
                            <span class="navTextColor">Table</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu navColor">
                            <li>@Html.ActionLink("Classifications","Index","tblClassifications", null, new { @class = "navTextColor" })</li>
                            <li>@Html.ActionLink("Employés","Index","tblEmployes", null, new { @class = "navTextColor" })</li>
                            <li>@Html.ActionLink("Genres","Index","tblGenres", null, new { @class = "navTextColor" })</li>
                            <li>@Html.ActionLink("Jeux","Index","tblJeus", null, new { @class = "navTextColor" })</li>
                            <li>@Html.ActionLink("Platformes", "Index", "tblPlatforms", null, new { @class = "navTextColor" })</li>
                            <li>@Html.ActionLink("Systèmes d'exploitations", "Index", "tblSystemExploitations", null, new { @class = "navTextColor" })</li>
                            <li>@Html.ActionLink("Thèmes", "Index", "tblThemes", null, new { @class = "navTextColor" })</li>
                            @*<li>@Html.ActionLink("Utilisateurs", "Index", "tblUsers")</li>*@
                        </ul>
                    </li>
                    <li>@Html.ActionLink("S'inscrire", "SignUp", "Account", null, new { @class = "navTextColor" })</li>
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Frédéric Côté et Alexandre Tremblay</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
