@model IEnumerable<ProjetTexcel_WEB.tblUser>

@{
    ViewBag.Title = "Utilisateurs";
}
<div class="formContainer">
    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <form>
        <input type="text" placeholder="Search..." required>
        <input type="button" value="Search">
    </form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.administre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tblEmploye.nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.administre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tblEmploye.nom)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.username }) |
                    @Html.ActionLink("Details", "Details", new { id = item.username }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.username })
                </td>
            </tr>
        }

    </table>
</div>