@model ProjetTexcel_WEB.tblEmploye

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sur de vouloir supprimer cette Employer ?</h3>
<div>
    <h4>Employé</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            Date de Naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateNaissance)
        </dd>

        <dt>
            Adresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            Numéros de Téléphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noTelephone)
        </dd>

        <dt>
            Poste de Téléphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posteTelephone)
        </dd>

        <dt>
            Numéros de Téléphone(Maison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noTelephoneMaison)
        </dd>
        <dt>
            Rôle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRole.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
