@model ProjetTexcel_WEB.tblEmploye

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Employé</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            Date de Naissance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateNaissance)
        </dd>

        <dt>
            Adresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            Numéros de Téléphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noTelephone)
        </dd>

        <dt>
            Poste de Téléphone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posteTelephone)
        </dd>

        <dt>
            Numéros de Téléphone(Maison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noTelephoneMaison)
        </dd>
        <dt>
            Rôle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRole.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Éditer", "Edit", new { id = Model.matricule }) |
    @Html.ActionLink("Retour", "Index")
</p>
