@model IEnumerable<ProjetTexcel_WEB.tblEmploye>

@{
    ViewBag.Title = "Employés";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
        <th>
            Date de Naissance
        </th>
        <th>
            Addrese de Résidence
        </th>
        <th>
            Téléphone au Travail
        </th>
        <th>
            Numéro de Poste
        </th>
        <th>
            Téléphone à la Maison
        </th>
        <th>
            Poste occupé
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateNaissance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posteTelephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noTelephoneMaison)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblRole.nom)
        </td>
        <td>
            @Html.ActionLink("Édit", "Edit", new { id=item.matricule }) |
            @Html.ActionLink("Détails", "Details", new { id=item.matricule }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.matricule })
        </td>
    </tr>
}

</table>
