@model ProjetTexcel_WEB.tblPlatform

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sur de vouloir supprimer cette platforme ?</h3>
<div>
    <h4>Platform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.config)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.config)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typePlatform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typePlatform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSystemExploitation.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSystemExploitation.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
