@model ProjetTexcel_WEB.tblPlatform

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Platform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            Configuration minimal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.config)
        </dd>

        <dt>
            Type de Platformes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typePlatform)
        </dd>

        <dt>
            Système d'exploitation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSystemExploitation.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Éditer", "Edit", new { id = Model.idPlatform }) |
    @Html.ActionLink("Retour", "Index")
</p>
