@model ProjetTexcel_WEB.tblJeu

@{
    ViewBag.Title = "Ajouter";
}

<h2>Ajouter</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Jeu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-2">Développeur</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.developpeur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.developpeur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Description</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Configuration matérielle minimal</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.minimalConfig, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.minimalConfig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Classification</p>
            <div class="col-md-10">
                @Html.DropDownList("idClassification", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idClassification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Genre</p>
            <div class="col-md-10">
                @Html.DropDownList("idGenre", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idGenre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Thème</p>
            <div class="col-md-10">
                @Html.DropDownList("idTheme", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTheme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Platforme</p>
            <div class="col-md-10">
                @Html.DropDownList("idPlatform", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idPlatform, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Nom</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
