@model ProjetTexcel_WEB.tblJeu

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sur de vouloir Suprrimer ce Jeu ?</h3>
<div>
    <h4>Jeu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Développeur
        </dt>

        <dd>
            @Html.DisplayFor(model => model.developpeur)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Configuration Matérielle Minimum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minimalConfig)
        </dd>

        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            Classification
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblClassification.nom)
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGenre.nom)
        </dd>

        <dt>
            Platoforme
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPlatform.nom)
        </dd>

        <dt>
            Thème
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTheme.nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
